header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}
header h2 {
  margin: 0;
  flex: 0.7;
}
header {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.8);
}
nav {
  flex: 0.4;
}
ul {
  display: flex;
  justify-content: space-evenly;
  /* text-decoration: none; */
  /* list-style: none; */
}
li {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
}
