.movie {
  position: relative;
  width: 185px;
  height: 310px;
  padding: 0.5rem;
  background-color: var(--clr-card-bgr);
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 450ms;
}
.movie:hover {
  transform: scale(1.08);
}
#search {
  border: 2px solid #22254b;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
}
#search:active {
  outline: none;
}
.btn__search {
  cursor: pointer;
  margin-left: 1rem;
  color: rgb(56, 50, 50);
  letter-spacing: 0.1rem;
  background: rgb(179, 158, 158);
  border: 2px solid rgb(121, 87, 87);
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
}
.movie img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.movie__info {
  display: flex;
  justify-content: space-between;
  justify-self: self-start;
  align-items: center;
}
.movie__info h4 {
  margin: 0;
  text-align: left;
  margin-right: 0.5rem;
  font-family: var(--card-titles);
  font-size: var(--card-title-size);
  letter-spacing: var(--title-spacing);
}
.movie__overview {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: rgb(22, 25, 31);
  background-color: blanchedalmond;
  overflow: auto;
  max-height: 100%;
  padding: 0.5rem;
  text-align: justify;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.movie:hover .movie__overview {
  transform: translateY(0);
}
.movie__average {
  position: absolute;
  background: hsl(204, 60%, 81%);
  border-radius: 0.25rem;
  right: 12px;
  top: 177px;
  padding: 2px;
  width: 25px;
  font-weight: 700;
}
.green {
  color: chartreuse;
}
.orange {
  color: lightsalmon;
}
.red {
  color: maroon;
}

.btn__add,
.btn__remove {
  display: block;
  cursor: pointer;
  width: 90%;
  margin: 1rem auto 0.5rem auto;
  color: rgb(131, 77, 77);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 2px solid rgb(121, 87, 87);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.btn__add:hover,
.btn__remove:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.btn__add:disabled {
  transition: none;
  background-color: inherit;
  color: inherit;
  opacity: 0.5;
  cursor: unset;
}

.btn__extend {
  display: block;
  cursor: pointer;
}
.btn__expand {
  display: block;
}
.movie__link {
  color: rgb(114, 91, 91);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.2rem;
}
.movie__link:hover {
  color: rgb(88, 71, 71);
}
