.main__wrapper {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(240, 237, 228);
}
.single__movie {
  width: 420px;
  height: fit-content;
  background: rgb(214, 214, 212);
  border-radius: 0.25;
  /* display: flex;
  flex-direction: column; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.3s linear;
}
.movie__image {
  max-width: 420px;
  /* height: auto; */
}
.movie__image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.movie__rating {
  background: hsl(204, 60%, 81%);
  border-radius: 0.25rem;
  padding: 1px;
  width: 35px;
  font-weight: 700;
  margin-right: 0.5rem;
}
/* .single__movie img {
  min-width: 100%;
  max-height: 16rem;
  object-fit: fill;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin-bottom: 0;
} */
footer {
  padding: 0.1rem 0.7rem;
}
.single-movie__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-movie__info h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.movie__rating {
  background: hsl(205, 100%, 96%);
  border-radius: 0.25rem;
}
.green {
  color: rgb(59, 155, 123);
}
.red {
  color: brown;
}
footer p {
  text-align: justify;
  font-size: 0.8rem;
}
.action__section {
  display: flex;
  justify-content: space-between;
}

.btn__addList {
  margin: 0.5rem auto;
  color: rgb(131, 77, 77);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 2px solid rgb(121, 87, 87);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn__addList:disabled {
  transition: none;
  background-color: inherit;
  color: inherit;
  opacity: 0.5;
  cursor: unset;
}
.btn__watch {
  margin: 0.5rem auto;
  color: rgb(131, 77, 77);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 2px solid rgb(121, 87, 87);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trailer__icon {
  margin-left: 0.5rem;
}
