:root {
  --transition: all 0.3s linear;
  /* colors */
  --page-bgr: rgb(240, 237, 228);
  --clr-card-bgr: rgb(214, 214, 212);
  /* fonts */
  --card-titles: "Archivo Narrow", sans-serif;
  --card-title-size: 18px;
  /* spacing */
  --title-spacing: 1.6px;
}
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.movie__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
